In [1]:
import pandas as pd

In [2]:
%store -r data

.columns

In [3]:
y_data = data['is_sofw_dev']
y_data

0        0
1        0
2        0
3        0
4        0
        ..
61086    0
61087    1
61089    0
61090    0
61091    0
Name: is_sofw_dev, Length: 45374, dtype: int64

In [4]:
data.drop(columns={'is_sofw_dev','full_stack_wd', 'back_end_wd', 'front_end_wd',
       'mobile_dev', 'devops', 'data_sc', 'qlty_eng', 'ux_designer',
       'prod_manager', 'game_dev', 'inf_security', 'data_eng', 'debt'}, inplace=True)

In [5]:
data.columns

Index(['hours_learning_week', 'months_programming', 'attended_bootcamp',
       'coding_expenses', 'age', 'employment', 'youtube', 'online_resources',
       'inperson_events', 'podcasts', 'gender_female', 'gender_male',
       'gender_other'],
      dtype='object')

In [6]:
%store -r X_resampled

In [7]:
X_resampled.shape

(19678, 13)

In [8]:
new_data = pd.DataFrame(X_resampled, columns=list(data.columns))
new_data

,hours_learning_week,months_programming,attended_bootcamp,coding_expenses,age,employment,youtube,online_resources,inperson_events,podcasts,gender_female,gender_male,gender_other
0,5,9,0,25,34,1,0,4,0,0,0,1,0
1,20,6,0,300,34,1,0,5,1,0,0,1,0
2,2,12,0,0,34,1,0,7,1,0,1,0,0
3,5,0,0,0,32,1,0,2,0,0,0,1,0
4,20,6,0,0,43,0,0,3,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19673,30,60,0,500,24,0,1,4,0,1,0,1,0
19674,21,24,0,25,31,1,1,1,1,1,0,1,0
19675,5,48,0,0,27,1,0,3,0,0,0,1,0
19676,6,18,0,500,22,1,2,6,0,0,0,1,0
19677,20,54,0,723,28,0,0,2,0,0,0,1,0

In [9]:
data_balanced = new_data

In [10]:
data_balanced.columns

Index(['hours_learning_week', 'months_programming', 'attended_bootcamp',
       'coding_expenses', 'age', 'employment', 'youtube', 'online_resources',
       'inperson_events', 'podcasts', 'gender_female', 'gender_male',
       'gender_other'],
      dtype='object')

In [11]:
data_balanced['attended_bootcamp'].value_counts()

0    18531
1     1147
Name: attended_bootcamp, dtype: int64

In [12]:
data_balanced['attended_bootcamp'].value_counts()[0]/data_balanced.shape[0]*100

94.17115560524444

In [13]:
data_balanced['attended_bootcamp'].value_counts()[1]/data_balanced.shape[0]*100

5.828844394755564

In [14]:
data_balanced['age'].mean()

27.94638682792967

In [15]:
data_balanced['gender_female'].value_counts()[1]/data_balanced.shape[0]*100

18.228478503913

In [16]:
data_balanced['gender_male'].value_counts()[1]/data_balanced.shape[0]*100

80.82122166886879

In [17]:
data_balanced['hours_learning_week'].value_counts()[1]/data_balanced.shape[0]*100

2.5002540908628927

In [18]:
data_balanced['hours_learning_week'].mean()

12.605600162618153

In [19]:
data_balanced['months_programming'].mean()

19.577345258664497

In [20]:
len(data_balanced[data_balanced['months_programming']<19])/data_balanced.shape[0]*100

62.99420672832605

In [21]:
len(data_balanced[data_balanced['months_programming']<3])/data_balanced.shape[0]*100

21.607886980384187

In [22]:
attended = data_balanced[data_balanced['attended_bootcamp']==1]
attended['is_sofw_dev'].value_counts()[0]/attended.shape[0]*100

KeyError: 'is_sofw_dev'

In [ ]:
attended['is_sofw_dev'].value_counts()[1]/attended.shape[0]*100

In [ ]:
attended['is_sofw_dev'].value_counts()