In [1]:
import pandas as pd
import numpy as np

In [2]:
%store -r data
data

,is_sofw_dev,full_stack_wd,back_end_wd,front_end_wd,mobile_dev,devops,data_sc,qlty_eng,ux_designer,prod_manager,...,age,debt,employment,youtube,online_resources,inperson_events,podcasts,gender_female,gender_male,gender_other
0,0,0,0,0,0,0,1,0,0,0,...,46,0,-1,0,2,1,0,0,1,0
1,0,1,0,0,0,0,1,0,0,0,...,22,0,0,0,6,0,0,0,1,0
2,0,0,0,0,0,0,1,0,0,0,...,28,1,1,0,2,0,0,0,1,0
3,0,0,0,1,0,0,1,0,0,0,...,22,0,1,0,3,0,1,0,1,0
4,0,0,0,0,0,0,1,0,0,0,...,19,0,1,0,4,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61086,0,0,0,0,0,0,0,0,0,0,...,22,0,0,0,8,0,0,0,1,0
61087,1,0,0,0,0,0,0,0,0,0,...,28,0,0,0,2,0,0,0,1,0
61089,0,0,0,0,0,0,0,0,0,0,...,23,0,0,2,4,1,1,1,0,0
61090,0,0,0,1,1,0,0,0,0,0,...,30,0,-1,0,4,0,0,0,1,0
61091,0,1,1,1,0,1,1,1,1,0,...,21,0,-1,12,18,0,1,0,0,0

In [3]:
import sklearn

In [ ]:
from sklearn import make_classification
from sklearn.model_selection import train_test_split

In [7]:
from imblearn.under_sampling import RandomUnderSampler

In [8]:
X = data.drop(columns={'is_sofw_dev','full_stack_wd', 'back_end_wd', 'front_end_wd',
       'mobile_dev', 'devops', 'data_sc', 'qlty_eng', 'ux_designer',
       'prod_manager', 'game_dev', 'inf_security', 'data_eng', 'debt'})
y = data['is_sofw_dev']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=29)